@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body{
    background-image: url(../img/fondo\ de\ pantalla.jpg);
}

/* Encabezado */

h1{
    color: black;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    padding-bottom: 30px;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 30px;
}